<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <!-- my fonts setting -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC&family=PT+Serif&display=swap" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet"> 
        <!-- end my fonts setting -->
        <!-- add mathjax -->
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"]  ],
                processEscapes: true,
                skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
            },
            TeX: {equationNumbers: { autoNumber: "AMS" }}
            });
        </script>
        
        <script type="text/x-mathjax-config">
            MathJax.Hub.Queue(function() {
            var all = MathJax.Hub.getAllJax(), i;
                for (i=0; i < all.length; i += 1) {
                all[i].SourceElement().parentNode.className += ' has-jax';
                }
            });
        </script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/mathjax@2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <!-- end mathjax -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda"/>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}"/>
        {% if FEED_ALL_ATOM %}
            <link href="{{ FEED_DOMAIN }}/
                    {% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
                  type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed"/>
        {% endif %}
        {% if FEED_ALL_RSS %}
            <link href="{{ FEED_DOMAIN }}/
                    {% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
                  type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed"/>
        {% endif %}
    {% endblock head %}
</head>
<body>
{% include 'github.html' %}
<div id="container">
    <header>
        <!-- 修改了网站标题的字体 -->
        <h1 style="font-family: 'Redressed', cursive"><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
        {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
            <ul class="social-media">
                {% for name, link in SOCIAL %}
                    <li><a href="{{ link }}"><i class="fa fa-{{ name }} fa-lg" aria-hidden="true"></i></a></li>
                {% endfor %}
                {% if FEED_ALL_ATOM %}
                    <li><a href="{{ FEED_DOMAIN }}/
                            {% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
                           type="application/atom+xml" rel="alternate"><i class="fa fa-rss fa-lg"
                                                                          aria-hidden="true"></i></a></li>
                {% endif %}
                {% if FEED_ALL_RSS %}
                    <li><a href="{{ FEED_DOMAIN }}/
                            {% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
                           type="application/rss+xml" rel="alternate"><i class="fa fa-rss fa-lg" aria-hidden="true"></i></a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
        <p><em>{{ SITESUBTITLE }}</em></p>
    </header>
    <nav>
        <ul>
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                    <li><a {% if cat==category %}
                        class="active" {% endif %}href="{{ SITEURL }}/{{ cat.url }}"> {{ cat }} </a></li>
                {% endfor %}
            {% endif %}
            <li><a href="../tags.html">Tags</a></li>
            {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in pages %}
                    <li><a {% if p==page %} class="active" {% endif %}href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <h6>
            Rendered by <a href="http://getpelican.com/">Pelican</a> &nbsp;&bull;&nbsp; Theme by hiodon based on <a
                href="https://github.com/aleylara/Peli-Kiera">Peli-Kiera</a> &nbsp;&bull;&nbsp; Copyright
            &copy {% if AUTHOR %} &nbsp;&#8209;&nbsp; {{ AUTHOR }}{% endif %}
        </h6>
    </footer>
</div>
{% include 'analytics.html' %}
</body>
</html>

