{% extends "base.html" %}
{% block content %}
    <main>
        <section id="home">
            <ul>
                {% for article in articles_page.object_list %}
                    <li>
                        <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                               title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                        <aside>
                            <ul>
                                <li>
                                    <time datetime="{{ article.date }}">{{ article.date|strftime('%b %d, %Y') }}</time>
                                </li>
                                {% if article.readtime %}
                                    <li>
                                        {{ article.readtime.minutes }} min read
                                    </li>
                                {% endif %}
                            </ul>
                        </aside>
                    </li>
                {% endfor %}
            </ul>
            {% if articles_page.has_other_pages() %}
                {% include 'pagination.html' %}
            {% endif %}
        </section>
    </main>
{% endblock content %}